{% extends 'base.html' %}
{% block header %}{% include 'inc/_header.html' %}{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Ваша корзина</h2>
    <div class="row mt-4">
        {% if cart_items %}
            {% for item in cart_items %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.ticket.event.name }}</h5>
                            <p class="card-text">
                                <strong>Зона:</strong> {{ item.ticket.area.name }}<br>
                                <strong>Цена:</strong> {{ item.ticket.price }} ₽<br>
                                <strong>Дата события:</strong> {{ item.ticket.event.event_date|date:"d.m.Y H:i" }}
                            </p>
                            <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
    </div>
    {% if cart_items %}
        <div class="text-center mt-4">
            <a href="{% url 'payment_page' %}" class="btn btn-success btn-lg">Оплатить</a>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block footer %}{% include 'inc/_footer.html' %}{% endblock %}
