{% extends 'base.html' %}
{% block header %}{% include 'inc/_header.html' %}{% endblock %}
{% block content %}

        <div class="row">
            {% for event in event_list %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'event_detail' event.id %}" class="text-primary">{{ event.name }}</a></h5>
                            <p class="card-text">{{ event.type.name }}</p>
                            <p class="card-text">{{ event.place.place_name }}</p>
                            <a href="{% url 'event_detail' event.id %}" class="btn btn-primary">Купить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %}{% include 'inc/_footer.html' %}{% endblock %}
