{% extends 'base.html' %}
{% block header %}{% include 'inc/_header.html' %}{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ event.name }}</h5>
                <p class="card-text"><strong>Тип:</strong> {{ event.type }}</p>
                <p class="card-text"><strong>Место:</strong> {{ event.place.place_name }}</p>
                <p class="card-text"><strong>Адрес:</strong> {{ event.place.address }}</p>
                <p class="card-text"><strong>Спонсор:</strong> {{ event.sponsor }}</p>
                <p class="card-text"><strong>Дата:</strong> {{ event.event_date }}</p>
                <a href="#" class="btn btn-primary mt-3">Купить билет</a>
                {% if user.is_authenticated and user.role != 'user' %}
                    <a href="{% url 'event_update' event.id %}" class="btn btn-primary mt-3">Редактировать</a>
                    <form action="{% url 'event_delete' event.id %}" method="POST" class="d-inline" style="padding: 0">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mt-3">Удалить</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% include 'inc/_footer.html' %}{% endblock %}
